@charset "utf-8";

@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}

.row5, .row5 a{}

/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:120px 0; text-align:center;}

#pageintro article{display:block; max-width:60%; margin:0 auto;}
#pageintro article .introtxt{
	margin:0 0 50px 0; 
	padding:30px; 
	border-radius:0 50px;}
#pageintro article .heading{margin-bottom:30px; font-size:36px;}
#pageintro article p:last-of-type{margin-bottom:0;}




/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}
  
  @keyframes slider-animation {
	0%,
	7% {
	transform: translateX(0%);
	}
	12.5%,
	19.5% {
	transform: translateX(-20%);
	}
	25%,
	32% {
	transform: translateX(-40%);
	}
	37.5%,
	44.5% {
	transform: translateX(-60%);
	}
	50%,
	57% {
	transform: translateX(-80%);
	}
	62.5%,
	69.5% {
	transform: translateX(-60%);
	}
	75%,
	82% {
	transform: translateX(-40%);
	}
	87.5%,
	94.5% {
	transform: translateX(-20%);
	}
  }

.cont{}
.cont1{}
  video {
	width: 70%;
	height: auto;
	max-height: 100%;
	border-radius: 20px;
	
  }
/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

/* 4 Blocks */
.blocks li{padding:50px 0; text-align:center;}
.blocks li .btn{margin-bottom:30px;}

/* Elements */
.elements li:last-child{
	margin-bottom:0;
}/* Used for mobile devices when elements stack */
.elements article{
	display:inline-block; 
	width:100%; 
	max-width:320px; 
	height:100%;
}
.elements .txtwrap{
	padding:20px; 
	border-top:5px solid; 
	text-align:center;
}
.elements .txtwrap .heading{
	margin-bottom:0;
}
.elements .txtwrap time{
	display:block; 
	font-size:.8rem; 
	margin-bottom:10px;
}
.elements .txtwrap p{
	margin:0 0 15px 0;
}
.elements .txtwrap p:last-child{
	margin-bottom:0;
}


/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Main Text
--------------------------------------------------------------------------------------------------------------- */
.text{
	font-size: 20pt;
	color: #060cc7;
	font-weight: bold;
}
.text1{
	font-size: 20pt;
	color: #04214f;
	font-weight: bold;
}
.text2{
	font-size: 12pt;
	font-weight: bold;
	color: #0a0a0a;

}
.text3{
	font-size: 12pt;
	font-weight: bold;
	color: rgb(0, 0, 0);

}

.tr2{
	margin-top: 310px;
}
.tr3{
	margin-top: 350px;
}
.tr4{
	margin-top: 360px;
}
.tr5{
	margin-top: 300px;
}
.tr6{
	margin-top: 220px;
}

/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}

/* slider
--------------------------------------------------------------------------------------------------------------- */
.adapevnosug {
	position: relative;
	box-shadow: 0px 0px 10px rgba(167, 167, 167, 0.71);
	margin-top: 26px;
	border-radius: 20px;
  }
  
  .adapevnosug-edsa {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 20px;
  }
  
  .adapevnosug-nasav:checked + .adapevnosug-kolas {
	position: static;
	opacity: 100;
  }
  
  .adapevnosug-kolas {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
  }
  
  .adapevnosug-kolas img {
	display: block;
	height: auto;
	max-width: 100%;
  }
  
  .vealulu-kadsan {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: #393939;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width: 40px;
	z-index: 10;
  }
  input[type="radio"]{
    display: none;
	}
  .vealulu-kadsan.prev {
	left: 2%;
  }
  
  .vealulu-kadsan.next {
	right: 2%;
  }
  
  .vealulu-kadsan:hover {
	background: rgba(0, 0, 0, 0.8);
	color: #f3be81;
  }
  
  #adapevnosug-1:checked ~ .nedsug-1,
  #adapevnosug-2:checked ~ .nedsug-2,
  #adapevnosug-3:checked ~ .nedsug-3 {
	display: block;
  }
  
  .esamon-getusa {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
  }
  
  .esamon-getusa li {
	display: inline-block;
	margin: 0 5px;
  }
  
  .adapevnosug-bullet {
	color: #f5f242;
	cursor: pointer;
	display: block;
	font-size: 35px;
  }
  
  .adapevnosug-bullet:hover {
	color: #fff;
  }
  
  #adapevnosug-1:checked
	~ .nedsug-1
	~ .esamon-getusa
	li:nth-child(1)
	.adapevnosug-bullet,
  #adapevnosug-2:checked
	~ .nedsug-2
	~ .esamon-getusa
	li:nth-child(2)
	.adapevnosug-bullet,
  #adapevnosug-3:checked
	~ .nedsug-3
	~ .esamon-getusa
	li:nth-child(3)
	.adapevnosug-bullet {
	color: #99f6ff;
  }
/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */

.adapevnosug {
  position: relative;
  box-shadow: 0px 0px 10px #f5f242;
  margin-top: 26px;
  border-radius: 20px;
}

.adapevnosug-edsa {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}

.adapevnosug-nasav:checked + .adapevnosug-kolas {
  position: static;
  opacity: 100;
}

.adapevnosug-kolas {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.adapevnosug-kolas img {
  display: block;
  height: auto;
  max-width: 100%;
}

.vealulu-kadsan {
  background: #f5f242;
  border-radius: 50%;
  color: #f5f242;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.vealulu-kadsan.prev {
  left: 2%;
}

.vealulu-kadsan.next {
  right: 2%;
}

.vealulu-kadsan:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #f3be81;
}

#adapevnosug-1:checked ~ .nedsug-1,
#adapevnosug-2:checked ~ .nedsug-2,
#adapevnosug-3:checked ~ .nedsug-3 {
  display: block;
}

.esamon-getusa {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.esamon-getusa li {
  display: inline-block;
  margin: 0 5px;
}

.adapevnosug-bullet {
  color: #393939;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.adapevnosug-bullet:hover {
  color: #fff;
}

#adapevnosug-1:checked
  ~ .nedsug-1
  ~ .esamon-getusa
  li:nth-child(1)
  .adapevnosug-bullet,
#adapevnosug-2:checked
  ~ .nedsug-2
  ~ .esamon-getusa
  li:nth-child(2)
  .adapevnosug-bullet,
#adapevnosug-3:checked
  ~ .nedsug-3
  ~ .esamon-getusa
  li:nth-child(3)
  .adapevnosug-bullet {
  color: #99f6ff;
}
/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{
	line-height:normal;
}
#mainav .drop::after, 
#mainav li li .drop::after, 
#breadcrumb li a::after, 
.sidebar nav a::after{
	position:absolute; 
	font-family:"FontAwesome"; 
	font-size:10px; 
	line-height:10px;}

/* Top Navigation */
#mainav{margin-bottom:40px; border-bottom:1px solid;}
#mainav ul{text-transform:uppercase; text-align:center;}
#mainav ul ul{z-index:9999; position:absolute; width:160px; text-transform:none; text-align:left;}
#mainav ul ul ul{left:160px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 30px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:20px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{
	padding-left:15px;
}
#mainav li li a, 
#mainav li li .drop{
	display:block; 
	margin:0; 
	padding:10px 15px;
}
#mainav .drop::after, 
#mainav li li .drop::after{
	content:"›";
}
#mainav .drop::after{top:25px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:20px 0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:50px 0 20px;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:5px; right:0; content:"›";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"›";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}
 
 .img{
	 width: 400px;
	 
 }
 
/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color: #0d0d0c; background-color:#FFFFFF;}
a{color: #e65f0b;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color: #e65f0b;}
.overlay{
	color:#0d0d0d; 
	background-color:inherit;}
.overlay::after{
	color:inherit; 
	background-color:rgba(95, 95, 95, 0.55);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color: #e65f0b; border-color: #e65f0b;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}



/* Rows */
.row1, .row1 a{}
.row2, .row2 a{
	color:#FFFFFF; 
	background-color:transparent;
	margin-top: 100px;
}
.row3{color:#080808; background-color:#FFFFFF;}
.row4{color:#888888; background-color:#1F1F1F;}
.row5, .row5 a{color:#888888; background-color:#FFFFFF;}




/* Header */
#header #logo a{color:inherit;}


/* Page Intro */
#pageintro article{color:#FFFFFF;}
#pageintro article .introtxt{color:#000000; background-color:rgba(255,255,255,.75);}


/* Content Area */
.blocks .overlay:hover{color:#000000;}
.blocks .overlay:hover::after{color:inherit; background-color:rgba(255,255,255,.75);}

.elements article{box-shadow:0px 2px 5px rgba(0,0,0,.1);}
.elements .txtwrap{border-color: #e65f0b;}


/* Testimonials */
#testimonials li div{color:#000000; background-color:rgba(255,255,255,.75);}
#testimonials li div:hover{color:#FFFFFF; background-color:#82A800;}


/* Navigation */
#mainav{border-color:rgba(255,255,255,.2);}
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color: #c233f2; background-color:inherit; transition: 0.5s;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:#f2a3f7; border-color: #f01d0a;border-radius: 5px;}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color: #bb33f5; border-radius: 5px;}
#mainav form select{color:#FFFFFF; background-color:#1f1f1f; border-color:#000000;}

#breadcrumb a{
	color:#080807; 
	background-color:inherit;
}
#breadcrumb li:last-child a{
	color: #c40eed;
	font-weight: bold;
}
.justify{
	text-align: justify;
}
.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#82A800;}

.pagination a, .pagination strong{border-color:#e65f0b;}
.pagination .current *{color:#FFFFFF; background-color:#82A800;}
.img_block{}
.img_block1{}
.img_block2{}
.img_block3{}
/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
	.txt{
		margin-left: 30px;
		margin-right: 30px;		
		text-align: justify;

	}
	video{
		width: 100%;
	}
	.cont1{
		margin-left: auto;
		margin-right: auto;
	}
	.maintxt{
		margin-left: 40px;
	}
	form{
		padding-left: 30px;
		padding-right: 30px;
	}
	
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */



@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#pageintro article{max-width:90%;}
	video{
		width: 100%;
		
	}
	.cont{
		margin-left: 30px;
		margin-right: 30px;
	}
	.cont1{
		margin-left: auto;
		margin-right: auto;
	}
	.maintxt{
		margin-left: 40px;
	}
	form{
		padding-left: 30px;
		padding-right: 30px;
	}
	
}


@media screen and (min-width:451px) and (max-width:750px){
	.blocks li{float:left; width:48%; margin-right:4%;}
	.blocks li:nth-child(even){margin-right:0;}
	.blocks li:nth-child(n+3){margin-bottom:0;}
	.tr2{
		margin: 0;
	}
	.tr3{
		margin-top: 0px;
	}
	.tr4{
		margin-top: 0px;
	}
	.tr5{
		margin-top: 0px;
	}
	.tr6{
		margin-top: 0px;
	}
	.txt{
		margin-left: 30px;
		margin-right: 30px;
		
		text-align: justify;

	}
	.cont{
		margin-left: 30px;
		margin-right: 30px;
	}
	.cont1{
		
	}
	.maintxt{
		margin-left: 40px;
	}
	form{
		padding-left: 30px;
		padding-right: 30px;
	}
	.img_block{
		display: block;
		margin-left: 30%;
		margin-right: 30%;
	}
	.img_block1{
		width: 100%;		
	}
	.img_block2{
		display: block;
		margin-left: 20%;
		margin-right: 20%;
	}
	.img_block3{
		display: block;
		margin-left: 15%;
		margin-right: 15%;
	}
}

.txt{
	text-align: justify;
}
.maintxt{}
.cont_justify{}
@media screen and (max-width:450px){
	#pageintro article{max-width:95%;}

	.blocks li{float:none; width:100%; max-width:222px; margin:0 auto 30px;}
	.blocks li:last-child{margin-bottom:0;}
	.cont{
		margin-left: 30px;
		margin-right: 30px;
	}
	.cont1{
		margin-left: auto;
		margin-right: auto;
	}
	.txt{
		margin-left: 30px;
		margin-right: 30px;		
		text-align: justify;
	}
	.maintxt{
		margin-left: 40px;
	}
	form{
		padding-left: 30px;
		padding-right: 30px;
	}
	.tr2{
		margin: 0;
	}
	.tr3{
		margin-top: 0px;
	}
	.tr4{
		margin-top: 0px;
	}
	.tr5{
		margin-top: 0px;
	}
	.tr6{
		margin-top: 0px;
	}
	
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}
	.cont{
		margin-left: 30px;
		margin-right: 30px;		
	}
	.txt{
		margin-left: 30px;
		margin-right: 30px;
		
		text-align: justify;

	}
	video{
		width: 100%;
	}
	.cont1{
		margin-left: auto;
		margin-right: auto;
	}
	.maintxt{
		margin-left: 40px;
	}
	form{
		padding-left: 30px;
		padding-right: 30px;
	}
	.img_block{
		display: block;
		margin-left: 20%;
		margin-right: 20%;
	}
	.img_block1{
		width: 100%;
		
	}
	.img_block2{
		display: block;
		margin-left: 15%;
		margin-right: 15%;
	}
	.img_block3{
		display: block;
		margin-left: 10%;
		margin-right: 10%;
	}
}
